#easy{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border-color: black;
    background-color: red;
    color: white;
}

#good{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border-color: black;
    background-color: green;
    color: white;
}

body{
    text-align: center;
    font: "Arial";
}